.btn-claro-blanco {
    color: white;
    background-color: #17ccd3;
    border-color: #129fa5
}

.btn-claro-negro {
    color: black;
    background-color: #17ccd3;
    border-color: #129fa5
}

.btn-med-blanco {
    color: white;
    background-color: #0d7377;
    border-color: #129fa5
}

.btn-oscuro {
    color: white;
    background-color: #084749;
    border-color: #0d7377
}

.btn-opcion-prod {
    width: 50%;
    min-width: 80 px;
    margin-right: auto;
    margin-left: auto
}

.tarj-prod {
    border-style: none;
    border-radius: 50px;
    box-shadow: 4px 4px 8px black;
    margin-bottom: 10%
}

.tarj-opcion-prod {
    background-color: #e6e6e6
}

.cuadro-g-img {
    min-width: 250px;
    min-height: 250px;
    max-width: 100%;
    object-fit: contain
}

.cuadro-m-img {
    width: 125px;
    height: 125px;
    object-fit: contain
}

.cuadro-p-img {
    width: 250px;
    height: 250px;
    object-fit: contain
}

.txt-resalte {
    color: #129fa5 !important
}

.txt-blanco {
    color: white !important
}

.txt-negro {
    color: black !important
}

.calificacion {
    color: black;
    background-color: #129fa5
}