<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chopstore</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
        <link href="choppr styles.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:replace="cabecera :: cabecera-vendedor"></div>
        <div class="container mb-3">
            <div class="row mt-3">
                <h1 id="titulo" class="txt-resalte" th:text="${producto.nombre}"></h1>
            </div>
            <div class="row mt-3">
                <div class="col align-self-center">
                    <img id="muestra-previa" class="cuadro-g-img mx-auto" th:src="${producto.imagen}" alt="Imagen del producto">
                </div>
                <div class="col">
                    <form method="post" action="/edita">
                        <input type="hidden" name="idproducto" th:value="${producto.idproducto}">
                        <div class="row mb-3">
                            <label for="nombre" class="form-label"><h3>Nombre:</h3></label>
                            <input type="text" maxlength="256" class="form-control" name="nombre" id="nombre" onchange="actualizaNombre ()" th:value="${producto.nombre}" required>
                        </div>
                        <div class="row mb-3">
                            <label for="imagen" class="form-label"><h3>Imagen:</h3></label>
                            <input type="text" maxlength="256" class="form-control" name="imagen" id="imagen" aria-describedby="img-des" onchange="actualizaImagen ()" th:value="${producto.imagen}" required>
                            <div id="img-des" class="form-text">Url de la imagen del producto.</div>
                        </div>
                        <div class="row mb-3">
                            <label for="descripcion" class="form-label"><h3>Descripción:</h3></label>
                            <textarea maxlength="256" class="form-control" name="descripcion" rows="3" th:text="${producto.descripcion}" required></textarea>
                        </div>
                        <div class="row mb-3">
                            <label for="detalles" class="form-label"><h3>Detalles:</h3></label>
                            <textarea maxlength="256" class="form-control" name="detalles" rows="3" th:text="${producto.detalles}" required></textarea>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="cantidad" class="form-label"><h3>Cantidad:</h3></label>
                                <input type="number" min="0" class="form-control" name="cantidad" aria-describedby="cant-des" th:value="${producto.cantidad}" required>
                                <div id="cant-des" class="form-text">Cuántos artículos de este producto están disponibles para comprar.</div>
                            </div>
                            <div class="col">
                                <label for="precio" class="form-label"><h3>Precio:</h3></label>
                                <input type="number" step="0.01" min="0" class="form-control" name="precio" aria-describedby="prec-des" th:value="${producto.precio}" required>
                                <div id="prec-des" class="form-text">La moneda es MXN.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="categoria" class="form-label"><h3>Categoría:</h3></label>
                            <select class="form-select" name="categoria" required>
                                <option value='Accesorios' th:selected="${producto.categoria == 'Accesorios'}">Accesorios</option>
                                <option value='Alimentos y Bebidas' th:selected="${producto.categoria == 'Alimentos y Bebidas'}">Alimentos y Bebidas</option>
                                <option value='Arte' th:selected="${producto.categoria == 'Arte'}">Arte</option>
                                <option value='Bebé' th:selected="${producto.categoria == 'Bebé'}">Bebé</option>
                                <option value='Belleza' th:selected="${producto.categoria == 'Belleza'}">Belleza</option>
                                <option value='Deportes' th:selected="${producto.categoria == 'Deportes'}">Deportes</option>
                                <option value='Electrónicos' th:selected="${producto.categoria == 'Electrónicos'}">Electrónicos</option>
                                <option value='Hogar y Cocina' th:selected="${producto.categoria == 'Hogar y Cocina'}">Hogar y Cocina</option>
                                <option value='Industria y Ciencia' th:selected="${producto.categoria == 'Industria y Ciencia'}">Industria y Ciencia</option>
                                <option value='Instrumentos Musicales' th:selected="${producto.categoria == 'Instrumentos Musicales'}">Instrumentos Musicales</option>
                                <option value='Jugetes' th:selected="${producto.categoria == 'Jugetes'}">Jugetes</option>
                                <option value='Libros y Revistas' th:selected="${producto.categoria == 'Libros y Revistas'}">Libros y Revistas</option>
                                <option value='Mascotas' th:selected="${producto.categoria == 'Mascotas'}">Mascotas</option>
                                <option value='Música' th:selected="${producto.categoria == 'Música'}">Música</option>
                                <option value='Oficina y Papeleria' th:selected="${producto.categoria == 'Oficina y Papeleria'}">Oficina y Papeleria</option>
                                <option value='Películas y Series' th:selected="${producto.categoria == 'Películas y Series'}">Películas y Series</option>
                                <option value='Ropa y Zapatos' th:selected="${producto.categoria == 'Ropa y Zapatos'}">Ropa y Zapatos</option>
                                <option value='Salud' th:selected="${producto.categoria == 'Salud'}">Salud</option>
                                <option value='Software' th:selected="${producto.categoria == 'Software'}">Software</option>
                                <option value='Videojuegos' th:selected="${producto.categoria == 'Videojuegos'}">Videojuegos</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-lg btn-claro-negro" style="width: 100%">Guardar cambios</button>
                    </form>
                </div>
            </div>
    </body>
    <script type="text/javascript" src="chopstore script.js"></script>
</html>
