<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link th:href="@{/css/choppr-styles.css}" rel="stylesheet">
    </head>
    <body>
        <!-- Cabecera Comprador -->
        <nav class="navbar navbar-light navbar-expand-md justify-content-center" style="background-color: #0d7377" th:fragment="cabecera-comprador">
            <div class="container-fluid my-3">
                <a th:href="@{/comprador}" class="navbar-brand d-flex w-50 me-auto">
                    <img th:src="@{/img/chopstore-white.png}" style="max-width: 250px" alt="Chopstore">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                    <ul class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item">
                            <div class="input-group">
                                <div class="dropdown">
                                    <button class="btn dropdown-toggle btn-oscuro" type="button" style="width: 250px" id="menu-categoria" data-bs-toggle="dropdown" aria-expanded="false">Todas las categorías</button>
                                    <ul class="dropdown-menu" aria-labelledby="menu-categoria">
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Todas las categorías')">Todas las categorías</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Accesorios')">Accesorios</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Alimentos y Bebidas')">Alimentos y Bebidas</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Arte')">Arte</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Bebé')">Bebé</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Belleza')">Belleza</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Deportes')">Deportes</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Electrónicos')">Electrónicos</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Hogar y Cocina')">Hogar y Cocina</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Industria y Ciencia')">Industria y Ciencia</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Instrumentos Musicales')">Instrumentos Musicales</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Jugetes')">Jugetes</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Libros y Revistas')">Libros y Revistas</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Mascotas')">Mascotas</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Música')">Música</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Oficina y Papeleria')">Oficina y Papeleria</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Películas y Series')">Películas y Series</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Ropa y Zapatos')">Ropa y Zapatos</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Salud')">Salud</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Software')">Software</button></li>
                                        <li><button class="dropdown-item" type="button" onclick="selecionaCategoria ('Videojuegos')">Videojuegos</button></li>
                                    </ul>
                                  </div>
                                <div class="form-outline">
                                    <input type="search" id="entrada-busqueda" class="form-control" placeholder="Buscar"/>
                                </div>
                                <button type="button" class="btn btn-claro-blanco" id="boton-buscar" onclick="buscaProductos ()"><i class="fas fa-search"></i></button>
                            </div>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                        <li class="nav-item" style="margin-right: 20%">
                            <button type="button" class="btn btn-claro-blanco position-relative" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    <span class="total-count"></span>
                                    <span class="visually-hidden">Total items</span>
                                </span>
                            </button>
                        </li>
                        <li class="nav-item dropdown" style="margin-right: 20%">
                            <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="javascript: document.logOutForm.submit()" id="cierraSesion">Cierra Sesión</a>
                                    <form  name="logOutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                        <input hidden type="submit" value="Sign Out"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Modal Carrito -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" aria-labelledby="exampleModalCenterTitle" stye="display: block;" aria-modal="true" role="dialog">
                <div class="modal-dialog modal-xl modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalCenterTitle">Mi carrito</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <table class="show-cart table"></table>
                                <div>Total: $<span class="total-cart"></span></div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="clear-cart btn btn-lg btn-secondary">Vaciar carrito</button>
                            <form method="post" action="/pedido">
                                <button type="submit" class="btn btn-lg btn-block btn-claro-negro disabled" aria-disabled="true" id="comprar-ahora">Comprar ahora</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- Cabecera Vendedor -->
        <nav class="navbar navbar-light navbar-expand-md justify-content-center" style="background-color: #129fa5" th:fragment="cabecera-vendedor">
            <div class="container-fluid my-3">
                <a th:href="@{/vendedor}" class="navbar-brand d-flex w-50 me-auto">
                    <img th:src="@{/img/chopstore-white.png}" style="max-width: 250px" alt="Chopstore">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                    <ul class="navbar-nav w-100 justify-content-center">
                        <li class="nav-item">
                            <button type="button" class="btn btn-oscuro" style="width: 250px" onclick="crearProducto ()">Publicar Nuevo Producto<i class="fas fa-plus-circle" style="margin-left: 5%"></i></button>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                        <li class="nav-item dropdown" style="margin-right: 25%">
                            <a class="nav-link dropdown-toggle" href="#" style="color: white;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span th:text="${#authentication.getPrincipal().getUsername()}"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" th:href="@{/vendedor}">Mis Productos</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="javascript: document.logOutForm.submit()">Cierra Sesión</a>
                                    <form name="logOutForm" th:action="@{/logout}" method="post" th:hidden="true">
                                        <input hidden type="submit" value="Sign Out"/>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Cabecera Inicio -->
        <nav class="navbar navbar-light navbar-expand-md justify-content-center" style="background-color: #129fa5" th:fragment="cabecera-inicio">
            <div class="container-fluid my-3">
                <a th:href="@{/}" class="navbar-brand d-flex w-50 me-auto">
                    <img th:src="@{/img/chopstore-white.png}" style="max-width: 250px" alt="Chopstore">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse w-100" id="collapsingNavbar">
                    <ul class="navbar-nav w-100 justify-content-center">
                        <img th:src="@{/img/choppr.png}" style="max-width: 175px" alt="Choppr"></img>
                    </ul>
                    <ul class="nav navbar-nav ms-auto w-100 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link txt-blanco">¿No tienes una cuenta?</a>
                          </li>
                        <li class="nav-item" style="margin-right: 15%">
                            <a class="nav-link txt-blanco" th:href="@{/register}">Regístrate</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </body>
    <script type="text/javascript" th:src="@{/js/chopstore-script.js}"></script>
</html>