<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Chopstore</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
        <link th:href="@{/css/choppr-styles.css}" rel="stylesheet">
        <link th:href="@{/css/estrellas.css}" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    </head>
    <body>
        <div th:replace="cabecera :: cabecera-comprador"></div>
        <div class="container mb-3">
            <div class="row mt-3">
                <h1 th:text="${producto.nombre}"></h1>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <div class="row mx-auto">
                        <img class="cuadro-g-img mx-auto" th:src="${producto.imagen}" alt="Imagen del producto">
                    </div>
                </div>
                <div class="col">
                    <div class="row align-items-center">
                        <div class="col-2">
                            <div class="row me-1">
                                <input type=number value="1" min="1" th:max="${producto.cantidad}">
                            </div>
                        </div>
                        <div class="col">
                            <div class="row">
                                <button th:unless="${producto.cantidad == 0}" type="button" class="btn btn-lg btn-block btn-claro-negro">Agregar al carrito<i class="fas fa-cart-plus" style="margin-left: 5%"></i></button>
                                <button th:if="${producto.cantidad == 0}" type="button" class="btn btn-lg btn-block btn-secondary" disabled>Agregar al carrito<i class="fas fa-cart-plus" style="margin-left: 5%"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <h3 class="txt-resalte" th:text="${producto.precio} + ' MXN'"></h3>
                    </div>
                    <div class="row">
                        <h3 class="txt-negro">Descripición:</h3>
                        <p th:text="${producto.descripcion}"></p>
                    </div>
                    <div class="row">
                        <h3 class="txt-negro">Detalles:</h3>
                        <p th:text="${producto.detalles}"></p>
                    </div>
                    <div class="row">
                        <h3 class="txt-negro">Disponibilidad:</h3>
                        <p th:text="${producto.cantidad == 0} ? 'Agotado' : ${producto.cantidad} + ' en almacén'"></p>
                    </div>
                    <div class="row">
                        <h3 class="txt-negro">Calificación media:</h3>
                        <div th:unless="${porcentaje == null}"><span th:class="'mostrar-estrellas estrellas-' + ${porcentaje}" style="font-size: 50px">★★★★★</span></div>
                        <h3 th:if="${porcentaje == null}" class="txt-resalte">Este producto no ha sido calificado</h3>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <ol th:unless="${resenas == null}" class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start" th:each="resena : ${resenas}">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold" th:text="${resena.usuario}"></div>
                            <div th:text="${resena.comentario}"></div>
                        </div>
                        <span th:class="'mostrar-estrellas estrellas-' + ${20 * resena.calificacion}">★★★★★</span>
                    </li>    
                </ol>
                <ol th:if="${resenas == null}" class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <div class="fw-bold">No hay comentarios sobre este producto</div>
                        </div>
                    </li>    
                </ol>
            </div>
            <div class="row mt-3">
                <div class="col mb-3">
                    <div class="row"><h5 class="txt-resalte">Comparte tu opinión</h5></div>
                    <th:block th:switch="${estado}">
                        <div th:case="0" class="row"><p>Debes comprar este producto antes de dejar una reseña</p></div>
                        <div th:case="1" clas="row">
                            <form method="post" action="/resena">
                                <input type="hidden" name="idproducto" th:value="${producto.idproducto}">
                                <div class="col-12">
                                    <span class="seleccionar-estrellas">
                                        <input type="radio" id="calificacion-5" name="calificacion" value="5" required/><label for="calificacion-5"></label>
                                        <input type="radio" id="calificacion-4" name="calificacion" value="4" required/><label for="calificacion-4"></label>
                                        <input type="radio" id="calificacion-3" name="calificacion" value="3" required checked/><label for="calificacion-3"></label>
                                        <input type="radio" id="calificacion-2" name="calificacion" value="2" required/><label for="calificacion-2"></label>
                                        <input type="radio" id="calificacion-1" name="calificacion" value="1" required/><label for="calificacion-1"></label>
                                    </span>
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" name="comentario" placeholder="Escribe aquí tu comentario" rows="2" maxlength="256" required></textarea>
                                </div>
                                <div class="col-4 mt-3">
                                    <button class="btn btn-med-blanco" type="submit">Publicar Reseña</button>
                                </div>
                            </form>
                        </div>
                        <div th:case="2" class="row"><p>Ya has dejado una reseña sobre este producto</p></div>
                    </th:block>
                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" th:src="@{/js/chopstore-script.js}"></script>
</html>
