<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registro - Chopstore</title>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css'>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'><link rel="stylesheet" th:href="@{/css/main.css}">
        <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet">
        <link th:href="@{/css/choppr-styles.css}" rel="stylesheet">
        <link rel="icon" th:href="@{/img/Logo-Cir-Light.png}">
    </head>
    <body class="d-flex flex-column">
    <header>
        <div sec:authorize="hasRole('ROLE_COMPRADOR')" th:replace="cabecera :: cabecera-comprador"></div>
        <div sec:authorize="hasRole('ROLE_VENDEDOR')" th:replace="cabecera :: cabecera-vendedor"></div>
        <div sec:authorize="isAnonymous()" th:replace="cabecera :: cabecera-inicio"></div>
    </header>
    <div class="mx-auto mt-3 px-auto py-3 container mb-auto flex-fill align-items-center d-flex" id="main-body">
        <div class ="my-auto container">
            <div class="row row-cols-1 row-cols-lg-2 mx-auto align-items-center">
                <div class="col mx-auto text-center">
                        <img class="img-fluid max-width: 80%;" style="height: auto; object-fit: contain" th:src="@{/img/chopstore-black.png}"></img>
                        <h1>¡Únete Ahora!</h1>
                        <h4>Somos la comunidad más grande de compra-venta local en CDMX.</h4>
                    </div>
                    <div class="col my-auto"> 

                        <form method="post" th:action="@{/register/}" th:object="${req}" sec:authorize="isAnonymous()">
                            <div class="form-group mb-2">
                                <label for="name">Ingresa tu Nombre: </label>
                                <input th:field="*{nombre}" required type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Nombre">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputLastName">Ingresa tus Apellidos: </label>
                                <input th:field="*{apellido}" required type="text" class="form-control" id="exampleInputLastName" aria-describedby="emailHelp" placeholder="Apellidos">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputEmail1">Correo Electrónico:</label>
                                <input th:field="*{correo}" required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="ejemplo@ejemplo.com">
                            </div>
                            <div class="form-group mb-2">
                                <label for="exampleInputPhone">Ingresa tu número de Teléfono: </label>
                                <input th:field="*{telefono}"type="text" class="form-control" id="exampleInputPhone" aria-describedby="emailHelp" placeholder="10 dígitos">
                            </div>
                            <div class="form-check mt-3">
                                <input th:field="${req.role}"  type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">Soy vendedor</label>
                            </div>
                            <div class="mt-3 mx-3 d-flex justify-content-end">
                                <button type="submit" class="btn btn-claro-negro">Regístrate</button>
                            </div>
                        </form>
                        <h1 sec:authorize="isAuthenticated()">Usted ya inició sesión.</h1>
                    </div>
            </div>
        </div>
        
    </div>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/js/bootstrap.min.js'></script>
    </body>
</html>
